@import "tailwindcss";

@theme inline {
  --color-base-50: #f9fafb;
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5dc;
  --color-base-400: #98a1ae;
  --color-base-500: #697282;
  --color-base-600: #4a5565;
  --color-base-700: #364152;
  --color-base-800: #1e2938;
  --color-base-900: #101828;
  --color-base-950: #030712;
}
:root {
  --numberColor: var(--color-base-900);
  --textWhiteColor: var(--color-base-100);
  --textBlackColor: var(--color-base-900);
}

.dark-theme {
  --numberColor: var(--color-base-100);
  --textWhiteColor: var(--color-base-900);
  --textBlackColor: var(--color-base-100);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html,
body {
  height: 100%;
  overflow: hidden;
}
